#MountainsForm{
	margin: 20px;
}

#inputNameMountain{
	width: 400px;
}

#inputAltitudMountain{
	width: 400px;
}

#inputDescriptionMountain{
	width: 600px;
	height: 100px;
}

#cardContainer{
	margin: 20px;
}

.text-left{
	text-align: left;
}

#button_signUp{
	margin-top: 10px;
}