#MountainsForm{
	margin: 20px;
}

#inputNameMountain{
	width: 400px;
}

#inputAltitudMountain{
	width: 400px;
}

#cardContainer{
	margin: 20px;
	width: 400px;
	height: 450px;
}

.text-left{
	text-align: left;
}

#button_signUp{
	margin-top: 10px;
}

#text-areaNotResize{
	margin-bottom: 10px;
	resize: none;
	width: 600px;
	height: auto;

}

.carousel-inner{
  width:100%;
  max-height: 400px !important;
}

#carouselOfMountains{
	margin: 30px;
}

#buttonSendCommentary{
	background-color: #FF7281;
}

#buttonBack{
	background-color: #DEB358;
}

#containerCommentForm{
	background-color: #BBB6F5;
}